  <div ng-include="'partials/navbar'"></div>

  <div ng-controller="LoginCtrl" class="jumbotron1">
		<form role="form" ng-submit="login()">
			<div class="form-group text-left">
				<label for="data.email">이메일</label>
				<input type="email" class="form-control" ng-model="data.email" required placeholder="Enter email"/>
			</div>
			<div class="form-group text-left">
				<label for="data.email">비밀번호</label>
				<input type="text" class="form-control" ng-model="data.password" required placeholder="Enter password"/>
			</div>
			<button type="submit" class="btn btn-primary">Sign in</button>
			<div class="alert alert-danger" ng-show="data.msg">{{data.msg}}</div>
		</form>
	</div>

  <div ng-controller="UserCtrl" class="jumbotron1">
  <label>New to Moneybook?</label>
		<form role="form" ng-submit="add()">
			<div class="form-group text-left">
				<label for="user.email">이메일</label>
				<input type="email" class="form-control" ng-model="user.email" required placeholder="Enter email"/>
			</div>
			<div class="form-group text-left">
				<label for="user.email">비밀번호</label>
				<input type="text" class="form-control" ng-model="user.password" required placeholder="Enter password"/>
			</div>
			<button type="submit" class="btn btn-primary">Sign up for moneybook</button>
			<div class="alert alert-danger" ng-show="user.msg">{{user.msg}}</div>
		</form>
  </div>
