  <div ng-include="'partials/navbar'"></div>
  <div ng-controller="UserCtrl">
    <table ng-table="moneyBooks" class="table">
        <tr>
            <td data-title="'이메일'" header-class="text-center">
              <input type="text" placeholder="Email" />
            </td>
            <td data-title="'비밀번호'" header-class="text-center" sortable="'amount'">
              <input type="text" placeholder="Password" />
            </td>
             <td data-title="'날짜'" header-class="text-center" sortable="'date'">
               <button id="clear-completed" ng-click="login(user.id)" ng-show="user.$edit == true">Sign in</button>
            </td>
        </tr>
    </table>
    <table class="table">
      <tr>
        <td colspan='3'>New to Moneybook?
        <td>
      </tr>
        <tr>
            <td data-title="'이메일'" header-class="text-center">
              <input type="text" ng-model="user.email" placeholder="Email" />
            </td>
            <td data-title="'비밀번호'" header-class="text-center">
              <input type="text" ng-model="user.password" placeholder="Password" />
            </td>
             <td data-title="''" header-class="text-center">
               <button id="clear-completed" ng-click="add(user)">Sign up for moneybook</button>
            </td>
        </tr>
    </table>
  </div>
