  <div ng-include="'partials/navbar'"></div>
  <!-- 
  <div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!</a></p>
  </div>

  <div class="row marketing">
  <div ng-repeat="thing in awesomeThings">
      <h4>{{thing.name}}</h4>
      <p>{{thing.info}}</p>
  </div>
  </div>

  <div class="footer">
  <p>♥ from the Yeoman team</p> 
  </div>
  -->
  <div ng-controller="MainCtrl" data-ng-init="init()">
    <table ng-table="moneyBooks" class="table">
        <tr>
            <td data-title="'항목'" header-class="text-center" sortable="'item'">
                <input type = "text" class="form-control" ng-model="info.item" placeholder="항목을 입력하세요." ng-keyup="$event.keyCode == 13 ? add(info) : items(info.item)" list="items" autofocus="true">
                <datalist id="items">
                 <option  data-ng-repeat="items in itemdata" value="{{items.item}}">
                </datalist>
            </td>
            <td data-title="'금액'" header-class="text-center" sortable="'amount'">
                <input type = "text" class="form-control" ng-model="info.amount" placeholder="금액을 입력하세요." ng-keyup="$event.keyCode == 13 ? add(info) : null"/>
            </td>
             <td data-title="'날짜'" header-class="text-center" sortable="'date'">
               <input type = "date" class="form-control" ng-model="info.date" ng-keyup="$event.keyCode == 13 ? add(info) : null"/>
            </td>
        </tr>
         <tr ng-repeat="user in data">
            <td ng-hide = "true">{{user.id}}</td>
            <td class="text-left">
              <span ng-if="!user.$edit" ng-click="user.$edit = true">{{user.item}}</span>
              <div ng-if="user.$edit"><input class="form-control" type="text" ng-model="user.item" ng-keyup="$event.keyCode == 13 ? update(user) : null" autofocus="true"/></div>
            </td>
            <td class="text-center">
                 <span ng-if="!user.$edit" ng-click="user.$edit = true">{{user.amount}}</span>
                 <div ng-if="user.$edit"><input class="form-control" type="text" ng-model="user.amount" ng-keyup="$event.keyCode == 13 ? update(user) : null"/></div>
            </td>
            <td class="text-center">
               <span ng-if="!user.$edit" ng-click="user.$edit = true">{{user.date}}</span>
                <div ng-if="user.$edit"><input class="form-control" type="date" ng-model="user.date" ng-keyup="$event.keyCode == 13 ? update(user) : null"/></div>
            </td>
            <td class="text-center">
               <button id="clear-completed" ng-click="delete(user.id)" ng-show="user.$edit == true">삭제</button>
               <div ng-if="user.$edit"><button id="clear-completed" ng-click="user.$edit = false">취소</button></div>
            </td>
        </tr>
    </table>
  </div>


