  <div ng-include="'partials/navbar'"></div>

  <div ng-controller="UserCtrl" class="jumbotron1">
    <h1>회원정보 변경</h1>
		<form role="form" ng-submit="modify()">
			<div class="form-group text-left">
				<label for="data.email">이메일</label>
				<input type="email" class="form-control" ng-model="data.email" required placeholder="Enter email"/>
				<label for="data.prev_password">이전 비밀번호</label>
				<input type="password" class="form-control" ng-model="data.prev_password" required placeholder="Password"/>
				<label for="data.new_password">새 비밀번호</label>
				<input type="password" class="form-control" ng-model="data.new_password" required placeholder="Password"/>
			</div>
			<button type="submit" class="btn btn-primary">Modify</button>
			<div class="alert alert-danger" ng-show="data.msg">{{data.msg}}</div>
		</form>
	</div>

